version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "org.eclipse.rdf4j:rdf4j-*"

  - package-ecosystem: "maven"
    directory: "/rdf4j/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-name: "org.eclipse.rdf4j:rdf4j-*"

  - package-ecosystem: "maven"
    directory: "/rdf-legacy/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-name: "org.eclipse.rdf4j:rdf4j-*"
        versions:
          - "3.x"

  - package-ecosystem: "gradle"
    directory: "/gradle/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

# 1.0 Maintenance
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "1.0"
    ignore:
      - dependency-name: "org.eclipse.rdf4j:rdf4j-*"
    labels:
      - "backport"
      - "1.0"

  - package-ecosystem: "maven"
    directory: "/rdf4j/"
    schedule:
      interval: "weekly"
    target-branch: "1.0"
    allow:
      - dependency-name: "org.eclipse.rdf4j:rdf4j-*"
    labels:
      - "backport"
      - "1.0"

  - package-ecosystem: "maven"
    directory: "/rdf-legacy/"
    schedule:
      interval: "weekly"
    target-branch: "1.0"
    allow:
      - dependency-name: "org.eclipse.rdf4j:rdf4j-*"
        versions:
          - "3.x"
    labels:
      - "backport"
      - "1.0"

  - package-ecosystem: "gradle"
    directory: "/gradle/"
    schedule:
      interval: "weekly"
    target-branch: "1.0"
    labels:
      - "backport"
      - "1.0"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "1.0"
    labels:
      - "backport"
      - "1.0"

