Getting Started With Inrupt's Java Client Libraries

    This guide will help you set up a Java project using Maven. The project contains all the necessary components to begin building a Solid application.

* What you will need

    * About 15 minutes

    * Your favorite text editor or IDE

    * Java 11 or later

    * Maven 3.5 or later

* How to complete

    First, issue the following command:

-----------------
$ mvn archetype:generate \
    -DarchetypeGroupId=com.inrupt \
    -DarchetypeArtifactId=inrupt-client-archetype-java \
    -DarchetypeVersion=<VERSION>
-----------------

    You will be prompted for a <<<groupId>>> value (e.g. <<<com.example>>>) and an <<<artifactId>>> value (e.g. <<<sample-project>>>).

    Next, you will be able to find your new project in your current working directory.

    To build this new project, issue the following commands:

-----------------
$ cd sample-project
$ mvn install
-----------------

* Next steps

    Your project will be configured to use a recommended collection of dependencies and provides a simple starting point for
    building a Solid Application.

    Next, you will need to consider whether to use a synchronous or asynchronous client for your application, as described in the {{{./usage-examples.html}usage examples}}.
