Inrupt's Java Client Libraries

  {{{https://inrupt.com}Inrupt}} provides the following Java client libraries to help developers create {{{https://solidproject.org}Solid}} applications. These libraries provide highly flexible, simple components that can be used in any Java application for {{{https://solidproject.org/TR/protocol}Solid}}.

  These libraries aim to make two parts of Solid easier to work with: {{{./session-management.html}Authorization}} and {{{./data-modeling.html}Data Modeling}}.

  Authorization is complicated, especially in a distributed ecosystem, such as Solid. These libraries provide flexibility while at the same time hiding much of the complexity of authorization.

  Beyond authorization, working with RDF is also complicated. A graph-based data model may not be as familiar as the tree-based structures of JSON and XML. Furthermore, the tooling for RDF tends also to be less familiar. These libraries aim to give RDF experts all the features they need, while also being easy to use for newcomers to RDF.

