Inrupt's Java Client Libraries

  {{{https://inrupt.com}Inrupt}} provides the following Java client libraries to help developers create {{{https://solidproject.org}Solid}} applications. These libraries provide highly flexible, simple components that can be used in any Java application for {{{https://solidproject.org/TR/protocol}Solid}}.

  For more information about these libraries, including a getting started guide, please refer to the {{{https://docs.inrupt.com/developer-tools/java/client-libraries/}Inrupt Documentation}}.
