Session Management

    All authentication and authorization in the Inrupt Java Client Libraries occur in the context of a <<<Session>>> object. By default, all client interactions use an anonymous session. For any interaction with non-public resources, you will need a mechanism for authenticating users. This guide will help you determine how best to create and manage these sessions in your Solid application.

* What you will need

    * {{{https://start.inrupt.com/profile}A Solid Pod}}
    
    * About 15 minutes

    * Your favorite text editor or IDE

    * Java 11 or later

    * Maven 3.5 or later

* How to complete

    The first step is to consider how users will interact with your application.

      * Will this application run as a Web Application with many different users logging in? If so, follow the steps for {{{./sessions/session-web-applications.html}Web Applications}}.

      * Will this application run from the Command Line with a single user? If so, follow the steps for {{{./sessions/session-clis.html}Command Line Applications}}.


    There are other, more advanced options possible, but these will be the two most common patterns. Furthermore, both patterns also support the use of Access Grants, which is described in the {{{./sessions/session-access-grants.html}Access Grants}} section.

    After deciding how to establish a <<<Session>>>, you will pass that value to your client to create a Session-constrained client, as described in {{Using Session objects with a Client}}.

* Using Session objects with a Client

    In order to create a Session-scoped client, use the <<<::session(Session)>>> method with the client of your choice.

    <<Note>>: all subsequent interactions should use the <returned> client value. Each client object is stateless:
    calling the <<<session(Session)>>> method will not change the original client.

+---
import com.inrupt.client.auth.Session;
import com.inrupt.client.solid.SolidSyncClient;

public class MyApplication {

    SolidSyncClient client;

    void init() {
        Session session = ...;
        client = SolidSyncClient.getClient().session(session);
    }
}
+---

* Next Steps

    If you are using one of the high-level clients and you have a working <<<Session>>> object, you can move on to the {{{./data-modeling.html}data modeling}} section, which describes how to bind Java objects to RDF resources.

