name: Solid Java Client CI

on:
  # Build pull requests for any branch
  pull_request: { }

jobs:
  build:
    name: Java environment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build the code with Maven
        run: mvn -B -ntp install -Pci -pl -integration/uma,-integration/openid

      - name: Prod Integration tests
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: mvn -B -ntp verify -Pci -pl integration/uma,integration/openid
        env:
          INRUPT_TEST_WEBID: ${{ secrets.INRUPT_PROD_WEBID }}
          INRUPT_TEST_PUBLIC_RESOURCE_PATH: ${{ secrets.INRUPT_PROD_PUBLIC_RESOURCE_PATH }}
          INRUPT_ACCESS_ACCESS_GRANT_PROVIDER: ${{ secrets.INRUPT_PROD_ACCESS_GRANT_PROVIDER }}
          INRUPT_TEST_CLIENT_ID: ${{ secrets.INRUPT_PROD_CLIENT_ID }}
          INRUPT_TEST_CLIENT_SECRET: ${{ secrets.INRUPT_PROD_CLIENT_SECRET }}
          INRUPT_TEST_REQUESTER_WEBID: ${{ secrets.INRUPT_PROD_REQUESTER_WEBID }}
          INRUPT_TEST_REQUESTER_CLIENT_ID: ${{ secrets.INRUPT_PROD_REQUESTER_CLIENT_ID }}
          INRUPT_TEST_REQUESTER_CLIENT_SECRET: ${{ secrets.INRUPT_PROD_REQUESTER_CLIENT_SECRET }}

      - name: Dev Integration tests
        if: ${{ github.actor != 'dependabot[bot]' && matrix.java == 11 }}
        continue-on-error: true
        run: mvn -B -ntp verify -Pci -pl integration/uma,integration/openid
        env:
          INRUPT_TEST_WEBID: ${{ secrets.INRUPT_DEV_WEBID }}
          INRUPT_TEST_PUBLIC_RESOURCE_PATH: ${{ secrets.INRUPT_DEV_PUBLIC_RESOURCE_PATH }}
          INRUPT_ACCESS_ACCESS_GRANT_PROVIDER: ${{ secrets.INRUPT_DEV_ACCESS_GRANT_PROVIDER }}
          INRUPT_TEST_CLIENT_ID: ${{ secrets.INRUPT_DEV_CLIENT_ID }}
          INRUPT_TEST_CLIENT_SECRET: ${{ secrets.INRUPT_DEV_CLIENT_SECRET }}
          INRUPT_TEST_REQUESTER_WEBID: ${{ secrets.INRUPT_DEV_REQUESTER_WEBID }}
          INRUPT_TEST_REQUESTER_CLIENT_ID: ${{ secrets.INRUPT_DEV_REQUESTER_CLIENT_ID }}
          INRUPT_TEST_REQUESTER_CLIENT_SECRET: ${{ secrets.INRUPT_DEV_REQUESTER_CLIENT_SECRET }}

  documentation:
    name: Documentation Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build the code with Maven
        run: mvn -B -ntp verify -Pwebsite javadoc:javadoc

  dependencies:
    name: Dependency Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17 ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build the code with Maven
        run: mvn -B -ntp verify -Pdependencies
