name: Solid Java Client CI

on:
  # Build pull requests for any branch
  pull_request: { }

jobs:
  build:
    name: Java environment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Set up maven configuration
        run: cp .github/maven-settings.xml $HOME/.m2/settings.xml

      - name: Build the code with Maven
        run: mvn -B -ntp clean install javadoc:javadoc
