name: Solid Java Client Site

on:
  # Build pull requests for any branch
  pull_request:
    paths:
      - '**/site/**'

jobs:
  site:
    name: Project site
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build the code with Maven
        run: mvn -B -ntp install -Pwebsite

      - name: Build the site with Maven
        run: mvn -B -ntp site -Pwebsite

